:root{
    /*      COLORS      */
    --primary-color: #0A092D;
    --secondary-color: #2E3856;
    --tertiary-color: #04031F;
    --highlight-color: #B156E7;

    /*      FONT SETTING        */
    /* --header-font: ;
    --text-font: ;
    --font-size: ;
    */
}