:root{
    /*      COLORS      */
    --primary-color: #0A092D;
    --secondary-color: #2E3856;
    --tertiary-color: #04031F;
    --icons-color: #76809D;
    --highlight-color: #B156E7;
    --transition-speed: 600ms;

    /*      FONT SETTING        */
    /* --header-font: ;
    --text-font: ;
    --font-size: ;
    */
}

body{
    padding: 0;
    margin: 0;
    background-color: var(--primary-color);
}

    /*      SCROLL CONFIG       */
body::-webkit-scrollbar{
    width: 0.25rem;
}
body::-webkit-scrollbar-thumb{
    background: var(--secondary-color);
}

    /*      NAV BAR     */
.navbar{
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--secondary-color);
    transition: 200ms ease;
}

.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item{
    width: 100%;
}

.nav-item:nth-child(7){
    margin-top: auto;
}

.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    color: azure;
    text-decoration: none;
}

.link-desc{
    display: none;
    margin-left: 1rem;
}

.nav-link svg{
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
    color: var(--icons-color);
    transform: var(--transition-speed);
}

.navbar:hover{
    width: 16rem;
    filter: grayscale(0%) opacity(1);
    color: var(--icons-color);
}

.navbar:hover .link-desc{
    display: block;
}

.svg-color {
    color: var(--icons-color);
}

.svg-color{
    transition: var(--transition-speed);
}

@media only screen and (min-width: 600px) {
    .navbar{
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover{
        width: 16rem;
    }

    .navbar:hover .link-desc{
        display: inline;
        transition: opacity var(--transition-speed);
    }
}


@media only screen and (max-width: 600px) {
    .navbar{
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .navbar-nav{
        flex-direction: row;
    }

    .nav-link{
        justify-content: center;
    }

    .main{
        margin: 0;
    }
}

main{
    margin-left: 5rem;
    padding: 1rem;
    color: aliceblue;
}